/* dark theme */






/* general and global */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* nav bar */

header {
	background-color: rgba(0,0,0,0.6);
	clear: both;
	height: 75px;
}

header h1, header h1 a {
	float: left;
	line-height: 75px;
	margin: 0;
	color: white;
	padding-left: 10px;
	text-decoration: none;
}

header nav {
	float: right;
	line-height: 75px;
}

header nav ul {
	margin: 0;
}

header nav ul li {
	list-style: none;
	float: left;
	padding: 0 20px;
}

header nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	padding: 5px 0;
}

header nav ul li a:hover, .active {
	border-bottom: 2px solid white;

}




/* main image */

#homehero {
	clear: both;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/tempHero.jpg);
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


#heroText, #projectsText {
	text-align: center;
	position: absolute;
	font-size: 1.35em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#heroText a, #projectsText a {
	display: inline-block;
	padding: 5px;
	color: white;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	font-size: 0.9em;
	border: 2px solid white;
	text-decoration: none;
	margin: 0 10px;
}

#heroText a:hover, #projectsText a:hover {
	background-color: white;
	color: black;
}


/*      */

#bioHero {
	clear: both;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/tempBio.jpg);
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*      */

#resumeHero {
	clear: both;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/tempResume.jpg);
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*      */

#contactHero {
	clear: both;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/tempContact.jpg);
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*      */

#projectsHero {
	clear: both;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/tempProjects.jpg);
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*      */

#blogHero {
	clear: both;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/tempHero.jpg);
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* sections */

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

div.darkSection {
	clear: both;
	background-color: rgb(20, 20, 20);
	height: 100%;
	color: gray;
	padding: 40px 0;
	
}

div.darkSection h1 {
	color: white;
	text-align: center;
	font-size: 3em;
	margin: 0 0 40px 0;
}

div.darkSection p {
	text-align: center;
}

div.darkSection a {
	color: gray;
}

div.darkSection a:hover {
	color: white;
}

div.lightSection {
	clear: both;
	background-color: white;
	height: 100%;
	color: black;
	padding: 40px 0;

}

div.lightSection p, div.darkSection p {
	margin: 0;

}

div.leftContainer {
	float: left;
	width: 50%;
}

div.leftContainer img {
	height: 300px;
	border-radius: 4px;
}

div.rightContainer {
	float: right;
	width: 50%;
}


/* BLOG */

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.blogRow:after {
  content: "";
  display: table;
  clear: both;
}




/* FLIP CARDS */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgb(20, 20, 20);
  color: white;
  transform: rotateY(180deg);
}


/* TABLE */

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button.sortButtons  {
	background-color: rgb(20,20,20);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
	margin: 0 5px;
}

button.sortButtons:hover {
	background-color: gray;
	color: black;
}

div.buttonDiv h3 {
	margin: 0;
	float: left;
	margin-right: 10px;
}

div.sortButtonsDiv {
	margin: 20px 0;
}

/* FORM */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: gray;
	color: white;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: rgb(20,20,20);
    padding: 20px;
}

form label {
	color: white;
}


/* footer */


footer {
	background-color: rgb(20, 20, 20);
	clear: both;
	height: 100%;
	color: white;
}

.column {
	float: left;
	width: 33.33%;
	padding: 20px;
	height: 100%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.bottomNav ul {
	padding: 0;
}

.bottomNav ul li {
	list-style: none;
	padding: 5px 0;
}

.bottomNav ul li a, footer div.row div.column p a {
	color: gray;
}

.bottomNav ul li a:hover, footer div.row div.column p a:hover {
	color: white;
}

.footerIcons img {
	width: 50px;
	padding-right: 5px;
}

footer div.row div.column p {
	color: gray;
}

footer div.copyRight p {
	clear: both;
	color: gray;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}

